.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h1 {
  
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-bottom: 10px;
}

.alert {
  margin-bottom: 20px;
}
.bottom-nav{
  display: flex;
  justify-content: flex-start;
  position: fixed;
  bottom: 0;
  gap: 12px;
}
.bottom-nav Button{
  border: 10px solid yellow;
}
body {
  font-family: Arial, sans-serif;
}
.bottom{
  margin: 4px;
  position: fixed;
  bottom: 10px;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-info {
  text-align: center;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 20px;
}
span {
  display: inline-block;
  width: 100%;
}

